<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flayone.taxcc.taxcomparecalculate">

    <uses-sdk tools:overrideLibrary="com.huawei.agconnect.remoteconfig,com.huawei.agconnect.abtest,com.huawei.agconnect.core,com.huawei.agconnect.credential,com.huawei.agconnect.https,com.huawei.agconnect.datastore,com.huawei.hmf.tasks,com.bun.miitmdid,com.advance.supplier.ks,com.kwad.sdk,com.miui.zeus.mimo.sdk" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.flayone.taxcc.taxcomparecalculate.YearCalculateActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->

        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".SectionTwoActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".YearTaxActivity"
            android:theme="@style/CustomInputLayout" />
        <activity android:name="com.flayone.taxcc.taxcomparecalculate.WebViewActivity" />
        <activity
            android:name="com.flayone.taxcc.taxcomparecalculate.WelcomeActivity"
            android:theme="@style/WelcomePage"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--        第三方服务     -->
        <!--明确引用org.apache.http.legacy库，避免QQ官方open sdk在Android 9上报错 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="qqappid"
            android:value="12" />
    </application>

</manifest>